<%= panel "Workouts" do %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> fade show">
      <span class="close" data-dismiss="alert">×</span>
      <%= value %>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th nowrap="">Workout name</th>
          <th nowrap="">Created at</th>
        </tr>
      </thead>
      <tbody>
        <% @workouts.each do |workout| %>
          <tr>
            <td><%= workout.name %></td>
            <td><%= link_to formatted_date(workout.created_at), workout_path(workout) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
