<!-- begin row -->
<div class="row">
  <!-- begin panel -->
  <div class="panel panel-inverse w-100" data-sortable-id="form-stuff-1">
    <!-- begin panel-heading -->
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
      </div>
      <h4 class="panel-title">Add workout</h4>
    </div>
    <!-- end panel-heading -->
    <!-- begin panel-body -->
    <div class="panel-body">
      <%= form_for @workout do |f| %>
        <%= f.hidden_field :workout_routine_id %>
        <dl>
          <%= f.fields_for :workout_exercises do |ff| %>
            <%= ff.hidden_field :workout_routine_exercise_id %>
            <dt class="text-inverse"><%= ff.object.name %></dt>
            <dd>A description list...</dd>
          <% end %>
        </dl>
        <%= f.submit "Create", class: "btn btn-sm btn-primary m-r-5" %>
      <% end %>
    </div>
    <!-- end panel-body -->
  </div>
  <!-- end panel -->
</div>
